.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__input {
        width: 340px;
    }

    &__input-short {
        width: 165px;
    }

    &__textarea {
        resize: none;
        height: 144px;
    }

    &__alert {
        color: var(--red);
    }
}

.form-group-row {
    display: flex;
    gap: 10px;
}

.auth-navigate {
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: var(--text-size-link);

    &__link {
        color: var(--violet-primary);
    }

    &__button {
        color: var(--violet-primary);
    }
}

.button-wrapper {
    width: 100%;
}

.auth-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__back {
        position: absolute;
        left: 0px;
        margin-top: 4px;
    }

    &__back-icon {
        width: 20px;
        height: 20px;
    }

    &__stage-title {
        color: var(--violet-primary);
        font-weight: 700;
        font-family: var(--secont-family);
        font-size: var(--text-size-m);
    }
}