body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray);
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
}

.logo-component {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.stepper-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
}