/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/inter-v13-latin-regular.woff2') format('woff2');
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/inter-v13-latin-700.woff2') format('woff2');
}

/* asap-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/asap-v30-latin-regular.woff2') format('woff2');
}

/* asap-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Asap';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/asap-v30-latin-700.woff2') format('woff2');
}